# Verification 



## Win10 Tests v1.0 

Using Window 10, complete the Windows Test Plan for Supported Operating Systems

## Win8 Tests v1.0 

Using Window 8, complete the Windows Test Plan for Supported Operating Systems

## Win7 Tests v1.0 

Using Window 7, complete the Windows Test Plan for Supported Operating Systems

## Windows Test Plan for Supported Operating Systems 

1. Set up an account on the Mattermost community server at https://pre-release.mattermost.com/.
2. Complete Pidgin-Mattermost Windows Install Guide using the account above.
3. From your Pidgin client connected to the Mattermost community server join **Public Test Channel**.
4. From Pidgen, post a message, emoji and a hyperlink to the **Public Test Channel**. 
5. From Mattermost, verify the contents are received, and post back the same message from Mattermost.
6. From Pidgin, verify the message has been received. 
